/tmp/
/log/
/*.log
**/tmp/cache/bootsnap/
/.claude/
/*.png
/invalidate_cloudfront.sh
/projectplan.md

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
package-lock.json
package.json
playwright.config.ts
/tests/
